.backBtn{
    position: absolute;
    top: 50%;
    left: 10%
}

.container{
    background: white;
}

.btn{
    position: absolute;
    top: 80%;
    right: 5%;
}

img{
    height: 500px;
    width: 500px;
    margin-bottom: 10px;
}
